<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lql.mybatis.mappings.xmlmaps.bookMapper">

    <select id="getBook" parameterType="int" resultType="com.lql.mybatis.beans.Book">
        select * from book where id=#{id}
    </select>
    
    <insert id="createBook" parameterType="com.lql.mybatis.beans.Book">
        insert into book value(#{name},#{price})
    </insert>

</mapper>